.list-container {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  padding: 25px;
  align-items: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 8px;
}

.images {
  width: 80px;
  height: 80px;
}

.app-name {
  font-family: 'Bree Serif';
  font-size: 18px;
  color: #1e293b;
  font-weight: 500;
}
